$primary-color: #24292e;
$secondary-color: #cff;
$footer-size: 50px;
$tablet-size: 940px;

.footer {
  background-color: $primary-color;
  bottom: 0;
  height: $footer-size;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;

  .footer-text {
    color: white;
    text-align: center;
  }

  .footer-link {
    text-decoration: none;
    color: $secondary-color;
  }

  .footer-link:hover {
    text-shadow: 1px 1px 2px $secondary-color;
  }
}
